@import "./mixins";
@import "./variables";

*,
*::after,
*::before,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}
img {
  width: 100%;
  height: 100%;
}
button {
  border: none;
  background-color: transparent;
  outline: none;
}
a {
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
}
.primary-blue{
    background-color: $instock-blue;
}
.secondary-red{
  background-color: $instock-red;
}