$instock-black: #13182c;
$instock-blue: #2e66e5;
$instock-white: #ffffff;
$instock-slate: #5c667e;
$instock-cloud: #bdc5d5;
$instock-graphite: #232940;
$instock-light-grey: #f7f8f9;
$instock-green: #258463;
$instock-red: #c94515;
$dh1-font-size: 32px;
$dh1-line-height: 40px;
$dh2-font-size:24px;
$dh2-line-height:32px;
$dh3-font-size:14px;
$dh3-line-height:22px;
$dh4-font-size: 12px;
$dh4-line-height: 18px;
$dp1-font-size:16px;
$dp1-line-height:28px;
$dp2-font-size:14px;
$dp2-line-height:22px;
$dp3-font-size:12px;
$dp3-line-height:18px;
$mh1-font-size:28px;
$mh1-line-height:36px;
$mh2-font-size:20px;
$mh2-line-height:28px;
$mh3-font-size: 13px;
$mh3-line-height: 20px;
$mh4-font-size: 11px;
$mh4-line-height:16px;
$mp1-font-size: 15px;
$mp1-line-height:26px;
$mp2-font-size: 13px;
$mp2-line-height: 20px;
$mp3-font-size: 11px;
$mp3-line-height: 16px;